body {
    padding-top: 50px;
    background-image: url('../images/sanvicino.jpg'); 
    height: 100%
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.main-navbar{
    margin-top: 15px;
}
