<div class="bottom-button-group">
    <a id="btn-back" class="button" href="#backgroundCarousel" role="button" data-slide="prev" style="float: left; margin-right: 5px;">
        <span style="margin-top: 4px; color: white;font-size: xx-large" class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a id="btn-foward" class="button" href="#backgroundCarousel" role="button" data-slide="next" style="float: left; margin-right: 5px;">
        <span style="margin-top: 4px; color: white;font-size: xx-large" class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="btn-video" class="button" style="float: left" data-toggle="modal" data-target="#myModal">
        <span style="margin-top: 4px; color: white;font-size: xx-large" class="glyphicon glyphicon-facetime-video"></span>
    </a>
</div>
