<h1>Bootstrap starter template</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

<div class="bottom-button-group">

    <div id="btn-back" class="button" style="float: left; margin-right: 5px;">
        <a href="#0" >
            <span style="margin-top: 4px; color: white;font-size: xx-large" class="glyphicon glyphicon-chevron-left"></span>
        </a>		
    </div>
    <div id="btn-foward" class="button" style="float: left; margin-right: 5px;">
        <a href="#0" ng-click="next()">
            <span style="margin-top: 4px; color: white;font-size: xx-large" class="glyphicon glyphicon-chevron-right"></span>
        </a>		
    </div>  
    <div id="btn-video" class="button" style="float: left">
        <a href="#0" ng-click="showVideo()">
            <span style="margin-top: 4px; color: white;font-size: xx-large" class="glyphicon glyphicon-facetime-video"></span>
        </a>		
    </div>
</div>