<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="img-rounded" style="background-color: white;">
            <h3 class="text-center house-title">{{house.title}}</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <img ng-src="images/{{house.picture}}" class="img-responsive" style="margin-bottom: 15px;"/>
                        <img 
                            ng-repeat="asset in assets"
                            ng-src="http://lorempixel.com/200/200/city/{{asset.name}}/"
                            ng-show="checkedAssets[asset.id]"
                            class="img-responsive" 
                            style="width: 150px; position: absolute;top: 0;"/>
                    </div>
                    <div class="col-md-6">
                        <tabset>
                            <tab heading="{{'CUSTOMIZE'| translate}}">
                                <div class="row">
                                    <div class="col-md-4" ng-repeat="asset in assets">
                                        <div class="form-group">
                                            <label for="{{asset.id}}">{{asset.name}}</label>
                                            <input type="checkbox" class="form-control" id="{{asset.id}}" ng-model="checkedAssets[asset.id]">
                                        </div>
                                    </div>
                                </div>
                                <div class="center-block text-center">
                                    <p class="lead">Price: {{price| currency:"€"}}<p>
                                        <button class="btn btn-default">Contact Us</button>
                                </div>
                                <div>
                                    <a class="button" style="float: left; margin-right: 5px;cursor:pointer;">
                                        <span 
                                            style="margin-top: 4px; color: white;font-size: xx-large" 
                                            class="glyphicon glyphicon-download-alt">
                                        </span>
                                    </a>
                                    <a class="button" style="float: left; margin-right: 5px;cursor:pointer;">
                                        <span 
                                            style="margin-top: 4px; color: white;font-size: xx-large" 
                                            class="fa fa-facebook">
                                        </span>
                                    </a>
                                    <a class="button" style="float: left; margin-right: 5px;cursor:pointer;">
                                        <span 
                                            style="margin-top: 4px; color: white;font-size: xx-large" 
                                            class="fa fa-twitter">
                                        </span>
                                    </a>
                                </div>
                            </tab>
                            <tab heading="{{'ADDITIONAL_INFO'| translate}}">
                                <dl>
                                    <dt>{{'ADDRESS' | translate}}</dt>
                                    <dd>{{house.address}}</dd>
                                    <dt>{{'MQ' | translate}}</dt>
                                    <dd>{{house.mq}}&nbsp;m&#178;</dd>
                                    <dt>{{'ROOMS' | translate}}</dt>
                                    <dd>4</dd>
                                </dl>
                            </tab>
                            <tab heading="{{'DESCRIPTION'| translate}}">
                                <p class="lead">
                                    {{house.description}}
                                </p>
                            </tab>
                            <tab heading="{{'MAP'| translate}}" class="hidden-xs">
                                <iframe 
                                    src="https://mapsengine.google.com/map/embed?mid=zZTR9EL-nRLo.k7hqYCFXx5I0" 
                                    width="400" 
                                    height="300"></iframe>
                            </tab>
                        </tabset>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
