<div class="row" infinite-scroll="onPage()" infinite-scroll-distance="3">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="img-rounded" style="background-color: white;">
            <h3>Houses</h3>
            <div class="container-fluid">
                <div class="house-list-item img-rounded" ng-repeat="house in houses">
                    <div class="row">
                        <div class="col-md-12 house-list-item-title">
                            <h4 style="float: left">{{house.title}}</h4>
                            <small style="float: right">{{house.mq}}m&#178;</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <img src="images/{{house.picture}}" class="img-responsive"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            {{house.description}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-1"></div>
</div>     
