<div class="row" infinite-scroll="onPage()" infinite-scroll-distance="3">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="img-rounded" style="background-color: white;">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">
                    <h3  style="float: left">{{'HOUSES'| translate}}</h3> 
                    <button class="filter-button" style="float: right;margin: 10px 10px 0px 0px" data-toggle="modal" 
                            data-target="#myModalFilter"> <span style="font-size: x-large" class="glyphicon glyphicon-filter"></span></button>                    
                </div>               
            </div> 
            <div class="container-fluid">
                <div class="house-list-item img-rounded" ng-repeat="house in houses track by $index">
                    <div class="row">
                        <div class="col-md-12 house-list-item-title">
                            <h4 style="float: left">{{house.title}}</h4>
                            <small style="float: right">{{house.mq}}m&#178;</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a ng-href="#/house/{{house.id}}">
                                <img ng-src="images/{{house.picture}}" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            {{house.description}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-1"></div>


    <!-- Modal -->
    <div class="modal fade" id="myModalFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="vertical-align: middle">
                    <div class="row">
                        <span style="float: left;font-size: 1.5em">{{'FILTERS'| translate}}</span>
                        <!--            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-3">
                            <small >{{'SQUAREMETERS'| translate}}</small>
                        </div>   
                        <div class="col-md-3">
                            <small>{{'FROM'| translate}}:</small>
                            <select ng-model="selectedSquareMeterTo" ng-options="squareMeter.name for squareMeter in squareMeters">
                            </select>
                            <small>m&#178;</small>
                        </div>  
                        <div class="col-md-6">                            
                            <small>{{'TO'| translate}}:</small>
                            <select ng-model="selectedSquareMeterFrom" ng-options="squareMeter.name for squareMeter in squareMeters">
                            </select>
                            <small>m&#178;</small>
                        </div>                        
                    </div>
                    <div class="row" style="margin-top: 10px">                        
                        <div class="col-md-3">
                            <small>{{'PRICE'| translate}}</small>
                        </div>  
                        <div class="col-md-3">
                            <small>{{'FROM'| translate}}:</small>
                            <select ng-model="selectedPriceTo" ng-options="price.name for price in prices">
                            </select>
                            <small style="margin-right: 25px">&#128;</small>
                        </div>  
                        <div class="col-md-6">
                            <small>{{'TO'| translate}}:</small>
                            <select ng-model="selectedPriceFrom" ng-options="price.name for price in prices">
                            </select>
                            <small>&#128;</small>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px; width: 100%;text-align: center">                        
                        <center>
                            <button type="button" class="filter-button btn-lg" style="float:none" data-dismiss="modal" ng-click="applyFilter()"><span style="text-align: center">{{'APPLY'| translate}}</span></button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     
